@import "~@css/theme";

.#{$prefix} {
  &-controller-pip {
    .mp-icon-pip-exit {
      display: none;
    }
    &.state-pip {
      .mp-icon-pip {
        display: none;
      }
      .mp-icon-pip-exit {
        display: block;
      }
    }
  }
  &-controller-fullscreen {
    .mp-icon-fullscreen-exit {
      display: none;
    }
    &.state-fullscreen {
      .mp-icon-fullscreen {
        display: none;
      }
      .mp-icon-fullscreen-exit {
        display: block;
      }
    }
  }
  &.mode-fullscreen & {
    &-controller-webfull {
      display: none;
    }
  }
  &-controller-webfull {
    .mp-icon-webfull-exit {
      display: none;
    }
    &.state-webfull {
      .mp-icon-webfull {
        display: none;
      }
      .mp-icon-webfull-exit {
        display: block;
      }
    }
  }
  &-controller-play {
    .mp-icon-play {
      display: none;
    }
    &.state-paused {
      .mp-icon-pause {
        display: none;
      }
      .mp-icon-play {
        display: block;
      }
    }
  }
  &-controller-loop {
    .mp-icon-loop {
      display: none;
    }
    &.state-loop {
      .mp-icon-loop-off {
        display: none;
      }
      .mp-icon-loop {
        display: block;
      }
    }
  }
  &-controller-volume {
    .mp-icon-volume-off {
      display: none;
    }
    &.state-muted {
      .mp-icon-volume {
        display: none;
      }
      .mp-icon-volume-off {
        display: block;
      }
    }
    &-text {
      width: 100%;
      text-align: center;
      padding-bottom: 4px;
    }
    &-slider {
      width: 100%;
      height: 60px;
    }
    .#{$prefix}-controller-panel {
      width: 30px;
      padding: 4px 0 6px;
    }
  }
  &-controller-settings {
    .#{$prefix}-controller-panel {
      width: 250px;
      padding: 6px;
    }
  }
  &-controller-part {
    &.state-singlepart {
      display: none;
    }
  }
  &-controller-next {
    &.state-lastpart {
      display: none;
    }
    &:hover {
      .#{$prefix}-controller-icon-wrap {
        transform: translateX(2px);
        &:active {
          transform: translateX(-1px);
        }
      }
    }
  }
  &-controller-prev {
    &.state-firstpart {
      display: none;
    }
    &:hover {
      .#{$prefix}-controller-icon-wrap {
        transform: translateX(-2px);
        &:active {
          transform: translateX(1px);
        }
      }
    }
  }
  &-controller-next,
  &-controller-prev {
    .#{$prefix}-controller-icon {
      font-size: 16px;
    }
  }
}
