// 控制栏
@import "../theme.scss";

.#{$prefix} {
  &-controller-wrap {
    position: absolute;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==)
      repeat-x bottom;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    bottom: 0;
    left: 0;
  }
  &-controller {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    margin: 0 15px;
    color: $text-white;
    &-content {
      height: calc(100% - 20px);
      position: relative;
      padding: 15px 0 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-left {
      height: 100%;
      max-width: 200px;
      display: flex;
      align-items: center;
    }
    &-right {
      height: 100%;
      min-width: 200px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    &-progress {
      width: 100%;
      height: 14px;
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      cursor: pointer;
      box-sizing: border-box;
    }
    &-button {
      position: relative;
			padding: 0 7px;
      height: 30px;
      font-size: 12px;
      display: flex;
      justify-content: center;
      cursor: pointer;
      .#{$prefix}-controller-icon {
        font-size: 21px;
        line-height: 30px;
      }
    }
    &-time {
      width: 90px;
      text-align: center;
      font-size: 13px;
      margin: 0 5px;
      cursor: pointer;
      &-label {
        width: 100%;
        white-space: nowrap;
        text-align: center;
      }
      &-input {
        display: none;
        width: 60px;
        margin: auto;
        font-size: 13px;
        text-align: center;
      }
      &.state-input & {
        &-label {
          display: none;
        }
        &-input {
          display: block;
        }
      }
    }
  }
  // 控制栏固定模式
  &.mode-fixedcontroller & {
    &-video-area {
      width: 100%;
      height: calc(100% - $controller-fixed-height);
    }
    &-footbar {
      border-top: 1px solid $light-grey;
      height: $footbar-height - 1;
    }
    &-controller-wrap {
      position: relative;
      background: white;
      height: $controller-fixed-height;
    }
    &-controller {
      position: relative;
      height: 100%;
      margin: 0;
      color: $text-black;
      &-content {
        height: calc(100% - 6px);
        padding: 6px 0 0;
      }
      &-progress {
        height: 14px;
        padding-bottom: 2px;
        top: -8px;
        align-items: end;
      }
      &-button {
        padding: 0 5px;
      }
    }
  }
}
