@import "@css/theme";

.#{$prefix} {
  &-danmakubar {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    .#{$prefix}-controller-icon-wrap {
      padding: 0 5px;
    }
    &.state-loading {
      .#{$prefix}-controller-danmaku-switch,
      .#{$prefix}-controller-danmaku-settings {
        pointer-events: none;
      }
      .#{$prefix}-danmakubar-input-wrap {
        background-image: linear-gradient(
          90deg,
          #e6e6e6 10%,
          #f0f0f0 24%,
          #f6f6f6 32%,
          #f6f6f6 68%,
          #f0f0f0 76%,
          #e6e6e6 90%
        );
        background-size: 200% 100%;
        background-position: 0% 0%;
        animation: skeleton-loading 1.4s linear infinite;
        cursor: not-allowed;
      }
      .#{$prefix}-danmakubar-input,
      .#{$prefix}-controller-danmaku-style {
        display: none;
      }
      .#{$prefix}-danmaku-status-loading {
        display: block;
        padding-left: 10px;
      }
      .#{$prefix}-danmakubar-send {
        background-color: #aaa;
        pointer-events: none;
        cursor: not-allowed;
      }
    }
    &-slot,
    &-input-slot {
      display: flex;
      flex-shrink: 0;
    }
    &-input-wrap {
      display: flex;
      flex-grow: 1;
      align-items: center;
      position: relative;
      height: 100%;
      background-color: $light-semiwhite;
      border-radius: $border-radius;
    }

    &-input {
      font-size: 13px;
      flex: 5;
      height: 30px;
      outline: none;
      border: none;
      margin-left: 5px;
      color: $text-white;
      background-color: transparent;
      box-sizing: border-box;

      &::-webkit-input-placeholder {
        color: $text-semiwhite;
      }
    }

    &-status-loading {
      font-size: 13px;
      flex: 5;
      height: 32px;
      line-height: 32px;
      color: #999;
      box-sizing: border-box;
      display: none;
    }

    &-send {
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      font-size: 12px;
      color: #fff;
      background: $primary-color;
      border-radius: 0 $border-radius $border-radius 0;
      cursor: pointer;
    }
  }

  &.mode-solid &-controller {
    .#{$prefix}-danmakubar {
      &-input {
        color: $text-black;
        &::-webkit-input-placeholder {
          color: $text-grey;
        }
      }
      &-input-wrap {
        background-color: $light-grey;
      }
    }
  }

  &-footbar &-danmakubar {
    .#{$prefix}-controller-icon-wrap {
      padding: 0 7px;
    }
    &-input-wrap {
      height: 100%;
      border-left: 1px solid $light-grey;
      border-radius: 0;
      background-color: transparent;
    }
    &-input {
      font-family: inherit;
      height: 100%;
      margin-left: 5px;
      color: $text-black;

      &::-webkit-input-placeholder {
        color: $text-grey;
      }
    }
    &-send {
      background: $primary-color;
      border-radius: $border-radius;
      margin-right: 6px;
      &.state-disabled {
        background: $light-grey;
        color: $text-grey;
        cursor: not-allowed;
      }
    }
  }
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0%;
  }

  100% {
    background-position: 0% 100%;
  }
}
