@import "~@css/theme";

/* 黑色界面 */
@mixin black {
  color: $text-white;
  background-color: $panel-black;
}
/* 白色界面 */
@mixin white {
  color: $text-black;
  background-color: $panel-white;
}
/* 暗色界面 */
@mixin dark {
  color: $text-white;
  background-color: $bg-black;
}

/* crystal
  一般情况下为黑色，固定模式下为白色，固定关灯模式下为暗色
*/
@mixin crystal {
  @include black;
  @at-root .mode-solid & {
    @include white;
  }
  @at-root .mode-solid.mode-dark & {
    @include dark;
  }
}

/* solid
  一般模式下为白色，关灯模式下为暗色
  tip 一般情况下为黑色，固定模式下为白色，固定关灯模式下为暗色
*/
@mixin solid {
  @include white;
  @at-root .mode-dark & {
    @include dark;
  }
}

// @include crystal

/* 
  .solid -> white
  dark .solid -> dark


  controller -> crystal
  side -> crystal
  footbar -> solid
  panel -> black
  head -> black
*/
