@import "@css/theme";

.#{$prefix} {
  &-hotkey {
    &-list {
      padding: 5px 0;
      max-height: 200px;
      overflow-y: auto;
      &-item {
        height: 30px;
        line-height: 30px;
        text-align: center;
      }
      &-key {
        display: inline-block;
        width: 80px;
      }
      &-description {
        display: inline-block;
        width: 180px;
      }
    }
  }
  &-about {
    padding: 10px 10px;
    &-logo {
      width: 360px;
      height: 60px;
      background-image: url("@icon/logo.svg");
      background-size: cover;
    }
    a {
      color: $primary-color;
    }
  }

  &-partlist {
    &-list {
      height: 100%;
      padding: 5px 0;
      overflow-y: auto;
      &-item {
        padding: 0 8px;
        height: 30px;
        line-height: 30px;
        display: flex;
        cursor: pointer;
        &:hover {
          background-color: $light-semiwhite;
        }
      }
      &-id {
        display: inline-block;
        width: 40px;
        flex-shrink: 0;
      }
      &-title {
        display: inline-block;
        flex-grow: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.#{$prefix} {
  &-panel-row {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0;
  }
  &-row-label {
    height: 22px;
    line-height: 22px;
    padding-right: 10px;
  }
  &-row-value {
    height: 22px;
    line-height: 22px;
    padding-left: 10px;
  }
}
