@import "~@css/theme";

.#{$prefix} {
  &-progress-bar {
    position: relative;
    width: 100%;
    height: 4px;
    background-color: $light-semiwhite;
    transition: height 0.2s ease;
    &-played {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-color: $primary-color;
    }
    &-buffered {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-color: $text-semiwhite;
    }
    &-thumb-track {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 0;
    }
    &-thumb {
      position: absolute;
      transform: translate(-50%, -50%) scale(0);
      width: 14px;
      height: 14px;
      background-color: $primary-color;
      border-radius: 7px;
      transition: transform, border;
      transition-timing-function: ease;
      transition-duration: 0.2s;
      box-sizing: border-box;
      border: 4px solid white;
    }
    &-preview {
      position: absolute;
      top: -12px;
      width: 0;
      height: 0;
    }
    &-time {
      position: absolute;
      left: 50%;
      bottom: 0px;
      transform: translateX(-50%);
      display: none;
      height: 20px;
      line-height: 20px;
      padding: 0 4px;
      font-size: 12px;
      background-color: $panel-black;
      color: $text-white;
      border-radius: $border-radius;
    }
    &-tip {
      display: none;
      position: absolute;
      top: -10px;
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        border: 5px solid;
        border-color: $primary-color transparent transparent transparent;
      }
    }
    &.#{$prefix}-progress-bar-active & {
      height: 6px;
      &-thumb {
        transform: translate(-50%, -50%) scale(1);
      }
      &-tip {
        display: block;
      }
      &-time {
        display: inline-block;
      }
    }
    &.#{$prefix}-progress-bar-dragging {
      .#{$prefix}-progress-bar-thumb {
        border-width: 2px;
      }
    }
  }
  // 控制栏固定模式
  &.mode-solid & {
    &-progress-bar {
      background-color: rgba($light-grey, 0.5);
      &-buffered {
        background-color: $primary-color;
        opacity: 0.25;
      }
      &-time {
        background-color: $panel-white;
        color: $text-black;
      }
    }
  }
}
