@import "~@css/theme";

.#{$prefix} {
  &-state-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  &-state-paused {
    display: none;
    position: absolute;
    bottom: 60px;
    right: 20px;
    width: 65px;
    height: 55px;
    background: url(../icon/play.png);
    background-size: 100% 100%;
  }
  &.mode-fixedcontroller & {
    &-state-paused {
      bottom: 20px;
    }
  }
  &.mode-fullscreen & {
    &-state-paused {
      bottom: 60px;
    }
  }
  &.state-paused & {
    &-state-paused {
      display: block;
    }
  }
}
