@import "@css/theme";

.#{$prefix} {
  &-danmakulist {
    user-select: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 12px;
    .list-row {
      position: relative;
      line-height: 24px;
      height: 24px;
      white-space: nowrap;
    }
    &-head {
      @extend .list-row;
      box-shadow: 1px 0px 2px #ccc;
      :hover {
        background-color: rgba($fg-light-xs, 0.2);
      }
    }
    &-select {
      position: absolute;
      box-sizing: border-box;
      line-height: 24px;
      height: 24px;
      width: 100%;
      top: 0;
      padding: 0 8px;
      justify-content: space-between;
      display: none;
      background: white;
      &.is-show {
        display: flex;
      }
    }
    &-container .list-row {
      &:hover {
        background-color: rgba($fg-light-xs, 0.2);
        .list-operate {
          display: flex;
        }
        .col-date {
          visibility: hidden;
        }
      }
      &.is-selected {
        color: $primary-color;
        background-color: rgba($fg-light-xs, 0.5);
      }
      &.is-focus {
        color: $primary-color;
        background-color: $fg-light-xs;
      }
    }
    .list-column,
    .list-cell {
      box-sizing: content-box;
      display: inline-block;
      height: 100%;
      padding: 0 4px;
      overflow: hidden;
      &.col-time {
        padding-left: 8px;
        width: 40px;
      }
      &.col-date {
        padding-right: 8px;
        width: 90px;
        text-align: center;
      }
      &.col-content {
        width: calc(100% - 162px);
        text-overflow: ellipsis;
        white-space: overflow;
      }
    }
    .list-operate {
      position: absolute;
      right: 0;
      top: 0;
      width: 100px;
      height: 100%;
      display: none;
      justify-content: flex-end;
      align-items: center;
      &-btn {
        cursor: pointer;
        line-height: 20px;
        margin-left: 4px;
        padding: 0 8px;
        border: 1px solid $primary-color;
        border-radius: $border-radius;
        color: $primary-color;
      }
    }
    &-main {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: calc(100% - 40px);
    }
    &-container {
      overflow: hidden;
      position: absolute;
      overflow-y: auto;
      scrollbar-width: thin;
      top: 24px;
      left: 0;
      width: 100%;
      height: calc(100% - 24px);
      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: $fg-light-s;
      }
    }
    &-status {
      position: absolute;
      top: 50%;
      width: 100%;
      div {
        text-align: center;
        display: none;
        color: $fg-light-s;
      }
      &[data-status="loading"] {
        .status-loading-text {
          display: block;
        }
      }
      &[data-status="failed"] {
        .status-failed-text {
          display: block;
        }
      }
      &[data-status="empty"] {
        .status-empty-text {
          display: block;
        }
      }
    }
    &-foot {
      border-top: 1px solid $fg-light-xs;
      display: flex;
      justify-content: space-between;
      height: 40px;
      &-left,
      &-right {
        display: flex;
        align-items: center;
      }
    }
    &-autoscroll {
      cursor: pointer;
      padding: 4px;
      margin: 0 4px;
      color: $fg-light;
    }
  }
}
