.mfunsPlayer-controller-mask{
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 0;
	background: url("../icon/mask.png") repeat-x bottom;
	transition: all .3s ease-in-out;
	
	z-index: 103;
	&.hide{
	   opacity: 0;
	}

	.mfunsPlayer-bezel {
		float:right;
		margin-top: -10px;
		margin-right: 20px;
		width: 65px;
		height: 55px;
		cursor: pointer;
		background: url(../icon/pause.png);
		background-size: 100% 100%;
		z-index: 1000;
		&.bezel_play {
			background: url(../icon/play.png); 
			background-size: 100% 100%;
		}
	}
	.mfunsPlayer-controller {
		height: 45%;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 0 20px;
		z-index: 11;
		color: #fff;
		&.hide{
			display: none;
		}
        
		.mfunsPlayer-controller-wrap {
			height: calc(100% - 15px);
			line-height: calc(100% - 15px);
			position: relative;
			margin: 10px 0 5px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			z-index: 10;
		    .mfunsPlayer-controller-tip{
				position: absolute;
				bottom: 140%;
				padding:0 3px;
				max-width: 70px;
				white-space: nowrap;
				height: 20px;
				line-height: 20px;
				background: rgba(28, 28, 28, 0.9);
				transition: all .2s ease-in-out;
				transform: scale(0);
				border-radius: 2px;
				font-size: 10px;
				opacity: 0;
				z-index: 1001;
			}
			.mfunsPlayer-controller-left{
				max-width:200px ;
				display: flex;
				align-items: center;
				overflow:hidden ;
				.player_btn {
					margin:0 3px;
					display: flex;
					justify-content: center;
					align-items: center;
					cursor: pointer;
				}
				.icon_pause,.icon_play{
					width: 27px;
					height: 27px;
				}
				.icon_pause{
					background: url('../icon/pause.svg') no-repeat;
					background-size: 100% 100%;
				}
				.icon_play {
					background: url('../icon/play.svg') no-repeat;
					background-size: 100% 100%;
				}
				.mfunsPlayer-controller-skip{
					width: 22px;
					height: 22px;
					margin: 0 7px;
					background: url('../icon/skip-next.svg') no-repeat;
					background-size: 100% 100%;
					display: flex;
					justify-content: center;
					cursor: pointer;
					&:hover{
						.mfunsPlayer-controller-tip{
							transform: scale(1);
							opacity: 1;
						}
					}
				}
				
				.currentTime,
				.total {
					font-size: 13px;
					margin-left: 5px;
				}
			}
          

  //控制器右功能键
			
			.mfunsPlayer-controller-right {
				width: 36%;
				height: 100%;
				max-width: 380px;
				display: flex;
				justify-content: space-around;
				align-items: center;
				.right_icon {
					font-size: 12px;
					display: flex;
					justify-content: center;
					cursor: pointer;
					&:hover{
						.mfunsPlayer-controller-tip{
							transform: scale(1);
							opacity: 1;
						}
					}
					
				}
				//选集
                .mfunsPlayer-squirtle{
					position: relative;
					height: 100%;
					z-index: 2;
					display: none;
					justify-content: center;
					align-items: center;
					font-size: 14px;
					font-weight: 600;
					cursor: pointer;
					&:hover  {
						.mfunsPlayer-squirtle-mask {
							display: block;
						}
					}
                    .mfunsPlayer-squirtle-mask {
						display: none;
						position: absolute;
						bottom: 100%;
						left: -50%;
						transform: translateX(-40%);
						padding-bottom: 17px;
						z-index: 9;
						.mfunsPlayer-squirtle-list {
							max-height: 300px;
							overflow-y: auto;
							font-weight: 400;
							border-radius: 2px;
							background: rgba(28, 28, 28, 0.9);
							padding: 5px 0;
							transition: all .3s ease-in-out;
							color: #fff;
							.mfunsPlayer-squirtle-item {
								width: 320px;
								
								white-space: nowrap;
								text-overflow: ellipsis;
								overflow: hidden;
								height: 30px;
								box-sizing: border-box;
								cursor: pointer;
								line-height: 30px;
								padding: 0 15px;
								&:hover{
								 background-color: rgba(255, 255, 255, .1);
								}
								&.focus{
									color: #7b7ff7;
									padding:0 15px 0 30px ;
									&::before{
									 content: "";
									 position: absolute;
									 top: 15px;
									 left: 15px;
									 border-color: transparent transparent transparent #7b7ff7;
									 border-style: solid;
									 border-width: 5px 8px;	
									}
									  
									
								}
							}
					    }
					}
				}

				//倍速
                .mfunsPlayer-speed {
					position: relative;
					height: 100%;
					z-index: 2;
					display: flex;
					align-items: center;
					font-weight: 600;
					font-size: 14px;
					cursor: pointer;
					&:hover{
					  .mfunsPlayer-speed-mask  {
						display: block;
					 }
					}
                    .mfunsPlayer-speed-mask {
						display: none;
						position: absolute;
						bottom: 100%;
						left: -50%;
						margin-left: -10px;
						/* margin-left: 10px; */
						width: 80px;
						padding-bottom: 17px;
						z-index: 9;
                        .mfunsPlayer-speed-list {
							font-weight: 400;
							width: 80px;
							border-radius: 2px;
							background: rgba(28, 28, 28, 0.9);
							padding: 5px 0;
							transition: all .3s ease-in-out;
							overflow: hidden;
							color: #fff;
							text-align: center;
							.mfunsPlayer-speed-item {
								height: 30px;
								box-sizing: border-box;
								cursor: pointer;
								line-height: 30px;
								&.focus{
									color: #7b7ff7;
								}
								&:hover {
									background-color: rgba(255, 255, 255, .1);
								}
							}

						}
					}
				}

				//音量
				.mfunsPlayer-controller-volume{
					position: relative;
					&:hover{
						.mfunsPlayer-controller-volume-mask{
							display: block;
						}
					}
					.mfunsPlayer-controller-volume-icon{
						width: 22px;
						height: 22px;
						background: url(../icon/volume-high.svg);
						background-size: 100% 100%;
						&.volume-icon-off{
							background: url(../icon/volume-off.svg);
							background-size: 97% 97%;
						}
					}
					.mfunsPlayer-controller-volume-mask{
						position: absolute;
						width: 32px;
						padding-bottom: 20px;
						bottom: 100%;
						display: none;
						&.show{
							display: block;
						}
						.mfunsPlayer-controller-volume-wrap{
							cursor: default;
							width: 32px;
							height: 100px;
							background: rgba(21,21,21,.9);
							border-radius: 2px;
							z-index: 10;
							.mfunsPlayer-controller-volume-num{
								color: #e5e9ef;
								width: 100%;
								text-align: center;
								font-size: 12px;
								height: 28px;
								line-height: 28px;
								margin-bottom: 2px;
							}
							.mfunsPlayer-controller-volume-bar{
								width: 100%;
								height: 60px;
								position: relative;
								cursor: pointer;
								.slider-track{
									width: 4px;
									border-radius: 2px;
									background: #fff;
									margin: 0 auto;
									display: flex;
									flex-direction: column;
									justify-content: flex-end;
									align-items: center;
									cursor: pointer;
								}
								.slider-bar{
									border-radius: 2px;
									background: #0ba396;
									cursor: pointer;
								}
								.slider-thumb-track{
									position: relative;
									height: calc(100% - 12px);
								}
								.slider-thumb{
									width: 12px;
									height: 12px;
									border-radius: 100%;
									background: #00a1d6;
									z-index: 2;
								}
							}
						}
						
						
					}
				}
               
				//设置
				.mfunsPlayer-controller-set{
					.mfunsPlayer-controller-set-icon{
						width: 21px;
						height: 21px;
						background: url(../icon/cog.svg);
						background-size: 100% 100%;	
					}
				}

				//画中画
                .mfunsPlayer-controller-troggle{
					.mfunsPlayer-controller-troggle-icon{
						width: 22px;
						height: 22px;
						background: url('../icon/picture-in-picture.svg');
						background-size: 100% 100%;
					}
				}
                //网页全屏
				.mfunsPlayer-controller-web-full{
					&.hide{
                       display: none;
					}
					.mfunsPlayer-controller-web-full-icon{
						width: 24px;
						height: 20px;
						&.mfunsPlayer-controller-web-full-icon{
							background-image: url(../icon/fullscreen-web-fill.svg);
							background-size: 100% 100%;
						}
						
						&.mfunsPlayer-controller-web-exitfs {
							background-image: url(../icon/fullscreen-web-exit.svg);
							background-size: 100% 100%;
						}
					}
					
				}

				//全屏
                .mfunsPlayer-controller-full{
					.mfunsPlayer-controller-full-icon{
						width: 24px;
						height: 21px;
						background-size: 100% 100%;
						background-image: url(../icon/fullscreen-fill.svg);
						background-size: 100% 100%;
					}
					
				}

			}
		}
	}


}


.mfunsPlayer-video-danmaku-root {
	width: 60%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2px;
	height: 70%;
	.mfunsPlayer-video-danmaku-button{
		width: 20px;
		height: 20px;
		cursor: pointer;
		&.open{
			background: url("../icon/barrage-open.svg");
			background-size: 100% 100%;
		}
		&.close{
			background: url("../icon/barrage-close.svg");
			background-size: 100% 100%;
		}
	}
	
	.mfunsPlayer-video-danmaku-set{
		width: 20px;
		height: 20px;
		background: url("../icon/barrage-set.svg");
		background-size: 100% 100%;
		cursor: pointer;
		
	}
	
    .input_box {
		display: flex;
		align-items: center;
		position: relative;
		width: 85%;
		height: 100%;
		.danmaku_style {
			position: absolute;
			top: 50%;
			left: 10px;
			color: #999;
			font-weight: 600;
			text-align: center;
			width: 15px;
			height: 16px;
			line-height: 16px;
			margin-top: -8px;
			border-bottom: 2px solid #999;
			cursor: pointer;
			&:hover{
				color: #7b7ff7;
				border-color: #7b7ff7;	
			}
		}
		
		.mfunsPlayer-danmaku-text {
			flex: 5;
			height: 100%;
			outline: none;
			border: 1px solid #e7e7e7;
			border-right: none;
			background: hsla(0,0%,100%,.35);
			border-radius: 3px 0 0 3px;
			padding-left: 40px;
			color: #999;
			box-sizing: border-box;
			&::-webkit-input-placeholder{
				color: #999;
			}
		}
		.emit {
			flex: 1;
			min-width: 40px;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			font-size: 12px;
			color: #fff;
			background: #7b7ff7;
			border-radius: 0 3px 3px 0;
			cursor: pointer;
		}
    }
    
}


