.mfunsPlayer-footBar{
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0px 0px 3px #bbb;
    box-sizing: border-box;
    .mfunsPlayer-video-danmaku-details{
        .mfunsPlayer-video-danmaku-count{
            color: #666
        }
    }
}