.mfunsPlayer-video-wrap {
    &:-webkit-full-screen {
        width: 100%;
        height: 100%;
        background: #000;
        position: fixed;
        z-index: 100000;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
        transform: translate(0, 0);
        .mfunsPlayer-notice{
            bottom:80px
        }
        .mfunsPlayer-video-mask{
            height: 100%;
        }
        .mfunsPlayer-controller-mask{
           .mfunsPlayer-bezel{
               margin-top: -30px;
            }
            .mfunsPlayer-video-danmaku-root{
                width: 40%;
                height: 75%;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                .mfunsPlayer-video-danmaku-button{
                    width: 23px;
		            height: 23px;
                    &.close{
                        background: url("../icon/barrage-full.svg");
                        background-size: 100% 100%;
                    }
                }
                .mfunsPlayer-video-danmaku-set{
                    width: 23px;
		            height: 23px;
                    background: url("../icon/barrage-set-full.svg");
			        background-size: 100% 100%;
                }
                .danmaku_style{
                    color: #f5f5f5;
                    border-bottom: 2px solid #f5f5f5;
                    &:hover{
                        color: #7b7ff7;
                        border-color: #7b7ff7;	
                    }
                }
                .mfunsPlayer-danmaku-text{
                    border: none;
	                color: #f5f5f5;
                    &::-webkit-input-placeholder{
                        color: #fff;
                    }
                }
            }
            .mfunsPlayer-controller{
                height: 65%;
                .mfunsPlayer-controller-wrap{
                    .mfunsPlayer-video-danmaku-root{
                            display: flex;
                    }
                    .mfunsPlayer-controller-left{
                        width: auto;
                        padding-right: 16px;
                        .player_btn {
                            margin-right: 7px;
                            .icon_pause,.icon_play{
                                width: 34px;
                                height: 34px;
                            }
                        }
                         
                        .mfunsPlayer-controller-skip{
                            margin: 0 10px;
                            width: 24px;
					        height: 24px;
                        }
                    }
                    .mfunsPlayer-controller-right {
                        display: flex;
                        .mfunsPlayer-speed{
                           .mfunsPlayer-speed-info{
                              font-size: 16px;
                           }
                        }
                        
                        .mfunsPlayer-squirtle{
                            display: flex;
                            .mfunsPlayer-squirtle-info{
                              font-size: 16px;
                            }
                        }
                        
                        .mfunsPlayer-controller-volume-icon{
                            width: 27px !important;
                            height: 27px !important;
                        }
                        .mfunsPlayer-controller-web-full-icon{
                            width: 22px !important;
                            height: 22px !important;
                        }
                        .mfunsPlayer-controller-set-icon,
                        .mfunsPlayer-controller-troggle-icon,
                        .mfunsPlayer-controller-full-icon{
                            width: 24px !important;
                            height: 24px !important;
                        } 
                        
                        .mfunsPlayer-controller-full{
                            i{
                              background-image: url(../icon/fullscreen-exit.svg);
                            }
                        }
                    }
                }
            }
            
        }
        
        .mfunsPlayer-danmaku {
                .mfunsPlayer-danmaku-top,
                .mfunsPlayer-danmaku-bottom {
                    &.mfunsPlayer-danmaku-move {
                        animation: danmaku-center 5s linear;
                        animation-play-state: inherit;
                    }
                }
                .mfunsPlayer-danmaku-right {
                    &.mfunsPlayer-danmaku-move {
                        animation: danmaku 8s linear;
                        animation-play-state: inherit;
                    }
                }
            }
    }
    &.mfunsPlayer-web-fullscreen{
        @extend :-webkit-full-screen;
        position: fixed;
        z-index: 100000;
        left: 0;
        top:0;
        width: 100% !important;
        height: 100% !important;
        .mfunsPlayer-controller-mask{ 
            .mfunsPlayer-controller{
            .mfunsPlayer-controller-right{
                .mfunsPlayer-controller-full{
                    i{
                    background-image: url(../icon/fullscreen-fill.svg) !important;
                    }
                }
            }
            }
        }
    }

}