@import './theme';

.mfunsPlayer-video-wrap {
    &:-webkit-full-screen {
        width: 100%;
        height: 100%;
        background: #000;
        position: fixed;
        z-index: 100000;
        left: 0;
        top: 0;
        margin: 0;
        padding: 0;
        transform: translate(0, 0);
        .mfunsPlayer-notice{
            bottom:80px
        }
        .mfunsPlayer-video-mask{
            height: 100%;
        }
        .mfunsPlayer-controller-mask{
           .mfunsPlayer-bezel{
               margin-top: -30px;
            }
            .mfunsPlayer-video-danmaku-root{
                width: 40%;
                height: 30px;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                .input_box{
                    border :none;
                    border-radius: $theme-border-radius;
                }
                .mfunsPlayer-controller-button {
                    padding: 0 5px;
                }
                .mfunsPlayer-controller-danmaku-style{
                    .icon-text {
                        color: #f5f5f5;
                        &:hover{
                            color: $theme-color-light;
                        }
                    }
                }
                .mfunsPlayer-controller-danmaku-settings{
                    .icon-danmaku-settings {
                        color: #f5f5f5;
                    }
                }
                .mfunsPlayer-danmaku-text{
                    border: none;
	                color: #f5f5f5;
                    &::-webkit-input-placeholder{
                        color: #fff;
                    }
                }
                .emit{
                    height: 100%;
                    border-radius:0 $theme-border-radius $theme-border-radius 0;
                }
            }
            .mfunsPlayer-controller{
                height: 60px;
                .mfunsPlayer-controller-wrap{
                    .mfunsPlayer-video-danmaku-root{
                            display: flex;
                    }
                    .mfunsPlayer-controller-left{
                        width: auto;
                        padding-right: 16px;
                    }
                    .mfunsPlayer-controller-right {
                        .mfunsPlayer-controller-fullscreen{
                            .icon-fullscreen {
                                display: none;
                            }
                            .icon-fullscreen-exit {
                                display: block;
                            }
                        }
                    }
                }
            }
            
        }
        
        .mfunsPlayer-danmaku {
                .mfunsPlayer-danmaku-top,
                .mfunsPlayer-danmaku-bottom {
                    &.mfunsPlayer-danmaku-move {
                        animation: danmaku-center 5s linear;
                        animation-play-state: inherit;
                    }
                }
                .mfunsPlayer-danmaku-right {
                    &.mfunsPlayer-danmaku-move {
                        animation: danmaku 8s linear;
                        animation-play-state: inherit;
                    }
                }
            }
            .mfunsPlayer-controller-button {			// 按钮
                padding: 0 10px;
            }
    }
    &.mfunsPlayer-web-fullscreen{
        @extend :-webkit-full-screen;
        position: fixed;
        z-index: 100000;
        left: 0;
        top:0;
        width: 100% !important;
        height: 100% !important;
        .mfunsPlayer-controller-mask{ 
            .mfunsPlayer-controller{
                height: 60px;
                .mfunsPlayer-controller-right{
                    .mfunsPlayer-controller-webfull{
                        .icon-web-fullscreen {
                            display: none;
                        }
                        .icon-web-fullscreen-exit {
                            display: block;
                        }
                    }
                }
                .mfunsPlayer-controller-fullscreen{
                    .icon-fullscreen {
                        display: block !important;
                    }
                    .icon-fullscreen-exit {
                        display: none !important;
                    }
                }
            }
        }
    }
}