@import "./controller";
@import "./player";
@import "./video";
@import "./danmaku";
@import "./loader";
@import "./menu";
@import "./modal.scss";
@import "./panel.scss";
@import "./footBar";
@import "./fullscreen";
@import "./components";
@import "./danmakuAuxiliary";
@import "./PosEditor";
@import "./font-icon";
body.player-mode-blackmask .heimu {
	z-index: 1002;
}
.heimu {
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0.9;
	z-index: 10015;
}
.mfunsPlayer-web-fullscreen-fix {
	overflow: hidden;
}
