@import './controller';
@import './player';
@import './video';
@import './danmaku';
@import './editor';
@import './loader';
@import './menu';
@import "./footBar";
@import './fullscreen';

@keyframes close {
	from {
		margin-left: 12px;
	}

	to {
		margin-left: 2px;
	}
}

@keyframes open {
	from {
		margin-left: 2px;
	}

	to {
		margin-left: 12px;
	}
}

@keyframes expand{
	from {
		right: -40%;
	}

	to {
		right: 0;
	}
}
@keyframes retract{
	from {
		right: 0;
	}

	to {
		right: -40%;
	}
}

@keyframes down{
	from{
		margin-top: -5%;
		opacity: 0;
	}
	to{
		margin-top: 3%;
		opacity: 1;
	}
}

@keyframes up{
	from{
		margin-top: 3%;
		opacity: 1;
	}
	to{
		margin-top: -5%;
		opacity: 0;
	}
}