// 播放器框架
@import "./theme";

.#{$prefix} {
  width: 100%;
  height: 100%;
  font-size: 12px;
  &-main {
    position: relative;
    width: 100%;
    height: calc(100% - $footbar-height);
    overflow: hidden;
  }
  // 视频展示区
  &-video-area {
    position: relative;
    width: 100%;
    height: 100%;
    // 视频容器
    .#{$prefix}-video-wrap {
      width: 100%;
      height: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      background: black;
      box-sizing: border-box;
      video {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
  &-head-wrap {
    position: absolute;
  }
  &-side-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &-modal-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &-contextmenu-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &-footbar {
    height: $footbar-height;
    background-color: $bg-white;
  }
  &-danmaku-wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    > div {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  &-tooltip {
    position: absolute;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
    white-space: nowrap;
    display: none;
    height: 20px;
    line-height: 20px;
    padding: 0 4px;
    font-size: 12px;
    background-color: $panel-black;
    color: $text-white;
    border-radius: $border-radius;
  }
  li {
    list-style: none;
  }
  &.mode-webfull {
    z-index: 233333;
    .#{$prefix} {
      &-main {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 233333;
        height: 100%;
      }
    }
  }
}
