// 主题变量
$prefix: "mfuns-player";

$bg-white: var(--mp-bg-white, #ffffff); // 背景白色
$bg-black: var(--mp-bg-black, #202020); // 背景暗色

$panel-white: var(--mp-panel-white, #ffffff); // 面板白色
$panel-black: var(--mp-panel-black, #202020e0); // 面板黑色
$panel-white-active: var(--mp-panel-white-active, #eeeeee); // 面板白色
$panel-black-active: var(--mp-panel-black-active, #606060a0); // 面板黑色

$text-black: #404040; // 文字黑色
$text-grey: #808080; // 文字灰色
$light-grey: #e6e6e6; // 淡灰色

$text-white: #ffffffe0; // 文字白色
$text-semiwhite: #ffffff80; // 文字半透明白色
$light-semiwhite: #ffffff40; // 淡半透明白色

$primary-color: var(--mp-primary-color, #7b7ff7); // 主要颜色
$secondary-color: var(--mp-secondary-color, $primary-color); // 次要颜色

$border-radius: var(--mp-border-radius, 4px); // 圆角大小

$footbar-height: 40px; // 底栏高度
$controller-fixed-height: 36px; // 固定控制栏高度
