// 主题变量
$prefix: "mfuns-player";

$bg-light: var(--mp-bg-light, #ffffff); // 亮色背景
$bg-dark: var(--mp-bg-dark, #202020); // 暗色背景
$bg-black: var(--mp-bg-black, #202020e0); // 半透明背景

$fg-light: #404040; // 前景黑色
$fg-light-s: #808080; // 文字灰色
$fg-light-xs: #e6e6e6; // 淡灰色

$fg-dark: #ffffffe0; // 文字黑色
$fg-dark-s: #ffffff80; // 文字灰色
$fg-dark-xs: #ffffff40; // 淡灰色

$primary-color: var(--mp-primary-color, #7b7ff7); // 主要颜色
$secondary-color: var(--mp-secondary-color, $primary-color); // 次要颜色

$border-radius: var(--mp-border-radius, 4px); // 圆角大小

$controller-fixed-height: 36px; // 固定控制栏高度
