@import "@css/theme";

.mpui {
  color: $fg-light;
  &-input {
    font-family: inherit;
    font-size: inherit;
    height: 20px;
    line-height: 20px;
    border-radius: $border-radius;
    padding: 0 4px;
    outline: none;
    border: 1px solid;

    background-color: transparent;
    color: $fg-light;
    border-color: $fg-light-xs;
    &:hover {
      border-color: $fg-light-s;
    }
    &:focus {
      border-color: $primary-color;
    }
    transition: all 0.2s;
  }

  &-button {
    font-family: inherit;
    font-size: inherit;
    height: 22px;
    line-height: 22px;
    border-radius: $border-radius;
    padding: 0 4px;
    outline: none;
    border: 1px solid;

    background-color: transparent;
    color: $fg-light;
    border-color: $fg-light-s;
    cursor: pointer;
    &:hover {
      color: $primary-color;
      border-color: $primary-color;
    }
    transition: all 0.2s;
  }
  &-tooltip {
    position: absolute;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
    white-space: nowrap;
    display: none;
    height: 20px;
    line-height: 20px;
    padding: 0 4px;
    font-size: 12px;
    background-color: $bg-black;
    color: $fg-dark;
    border-radius: $border-radius;
  }
  &-slider {
    position: relative;
    &-track {
      width: 4px;
      height: 4px;
      border-radius: 2px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      cursor: pointer;
      background: $fg-light-s;
    }
    &-bar {
      background: $primary-color;
      border-radius: 2px;
    }

    &-thumb-track {
      position: relative;
      width: calc(100% - 12px);
      height: calc(100% - 12px);
    }
    &-thumb {
      z-index: 1;
      width: 12px;
      height: 12px;
      border-radius: 100%;
      background: $primary-color;
    }
    &-divider {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    &-divider-dot {
      height: 4px;
      width: 1px;
      background-color: $fg-light;
      transform: translateY(-50%);
    }
  }
  &-picker {
    &-item {
      display: inline-block;
      padding: 0 5px;
      height: 20px;
      line-height: 20px;
      border-radius: $border-radius;
      border: transparent solid 1px;
      transition: color 0.2s;
      cursor: pointer;
      &.state-checked {
        border: transparent solid 1px;
        border-color: $primary-color;
        color: $primary-color;
      }
      &:hover {
        color: $primary-color;
      }
      &:active {
        color: $primary-color;
      }
    }
  }

  &-checkbox {
    height: 22px;
    cursor: pointer;
    &-icon {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin: 4px 0;
      width: 13px;
      height: 13px;
      border-radius: $border-radius;
      border: solid;
      border-width: 1px;
      border-color: $fg-light-s;
      box-sizing: border-box;
      transition: all 0.2s;
    }
    &-label {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      line-height: 22px;
      margin: 0 2px;
      transition: all 0.2s;
    }
    &:hover & {
      &-icon {
        border-color: $primary-color;
      }
      &-label {
        color: $primary-color;
      }
    }
    &:active & {
      &-icon {
        border-color: $primary-color;
      }
      &-label {
        color: $primary-color;
      }
    }
    &.state-checked & {
      &-icon {
        background-color: $primary-color;
        border-color: $primary-color;
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MCA1MCI+DQogICAgPHBvbHlnb24gcG9pbnRzPSI0MCA3LjkyOSAyMCAyNy45MjkgMTAgMTcuOTI5IDIuOTI5IDI1IDIwIDQyLjA3MSA0Ny4wNzEgMTUgNDAgNy45MjkiIGZpbGw9IiNGRkYiLz4NCjwvc3ZnPg==");
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
  &-background {
    background-color: $bg-light;
  }
  &-black,
  &-dark {
    color: $fg-dark;
    .mpui {
      &-input {
        background-color: transparent;
        color: $fg-dark;
        border-color: $fg-dark-xs;
        &:hover {
          border-color: $fg-dark-s;
        }
        &:focus {
          border-color: $primary-color;
        }
      }
      &-button {
        background-color: transparent;
        color: $fg-dark;
        border-color: $fg-dark-s;
        &:hover {
          color: $primary-color;
          border-color: $primary-color;
        }
      }
      &-slider {
        &-track {
          background: $fg-dark-s;
        }
        &-divider-dot {
          background-color: $fg-dark;
        }
      }
      &-checkbox {
        border-color: $fg-dark-s;
        &:hover & {
          &-icon {
            border-color: $primary-color;
          }
          &-label {
            color: $primary-color;
          }
        }
        &:active & {
          &-icon {
            border-color: $primary-color;
          }
          &-label {
            color: $primary-color;
          }
        }
      }
    }
  }
  &-dark &-background,
  &-dark.mpui-background {
    background-color: $bg-dark;
  }
  &-black &-background,
  &-black.mpui-background {
    background-color: $bg-black;
  }
}
